body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0;
    max-width: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: inherit;
    align-items: center;
    background: transparent linear-gradient(270deg, #4FC3F74D 0%, #E040FB4D 100%) 50% 50% no-repeat padding-box;
}

form {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 2em;
    justify-content: center;
    padding: 2em;
}

.rightLogin{
    height: 50%;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}


.loginORregister{
    margin-bottom: 3em;
}

form > input {
    padding-left: 0.5em;
    border: none;
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
    color: #4FC3F7;
    line-height: 2.5em;
    font-size: 1em;
}

form > button{
    width: 100%;
    margin-top: 1em;
}

.forgotPassword > a{
    text-decoration: none;
    color: #E040FB;
}

.forgotPassword{
    margin-top: 3em;
}

button {
    color: white;
    background: #4FC3F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2em;
    border: none;
    line-height: 2.5em;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    max-width: inherit;
}

.logo > img {
    width: 40vw;
}

.messages {
    color: #555555;
    text-align: center;
    margin-bottom: 0.4em;
}

@media only screen and (max-device-width: 992px){
    body {
        
        height: unset;
    }
    .container {
        flex-direction: column;
    }

    form {
        width: 100%;
    }

    .rightLogin {
        width: 100%;
        flex-direction: row;
    }

    .logo > img {
        width: 100vw;
        margin-bottom: 5em;
    }

    .navbarek {
        position: relative;
        flex-wrap: nowrap;
    }
    .navbarek a {
      float: none;
      display: block;
      text-align: left;
    }
}


@media screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }
    .container {
        flex-direction: column;
    }

    form {
        width: 100%;
    }

    .rightLogin {
        width: 100%;
    }

    .logo > img {
        width: 100vw;
        margin-bottom: 5em;
    }

    .navbarek {
        position: relative;
        flex-wrap: nowrap;
    }

    .navbarek a {
      float: none;
      display: block;
      text-align: left;
    }
}

.navbarek {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
    width: 100%;
    background-color: white;
    overflow: auto;
    text-align:center;
    padding-bottom:5px;
    background:
      linear-gradient(90deg, rgba(224,64,251,1) 0%, rgba(79,195,247,1) 100%)
      left 
      bottom
      white    
      no-repeat; 
    background-size:100% 5px ;
  }
  
  .navbarek a {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbarek a:hover {
    color: #666666;
  }

  .navbarek img{
      height: 25px;
  }
  
  .active {
    background-color: #E040FB;
  }

  .profile_nav{
    border-radius: 100%;
  }