body{
  width: 100%;
  margin: 0 auto;
  max-width: unset;
  display: column;
  flex-direction: column;
  justify-content: center;
  height: auto;
  background: #F2F2F2;
}


*,*:after,*:before {
    box-sizing: border-box;
  }
  .wrapit {
    width: 100%;
    margin: 0;
    max-width: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .column3 {
    display: inline-block;
    width: calc(33,33% - 8px);
    width: -moz-calc(33.33% - 8px);
    width: -webkit-calc(33.33% - 8px);
    margin-bottom: 8px;
    margin-right: 5px;
  }

  .column1 {
    display: inline-block;
    width: calc(100% - 8px);
    width: -moz-calc(100% - 8px);
    width: -webkit-calc(100% - 8px);
    margin-bottom: 8px;
    margin-right: 5px;
  }


.box{
    margin: 5%;
    border: 1em;
    padding: 5%;
    background: white;
    border-radius: 1em;
    border: none;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}

.column1 > .box {
  margin: 2%;
  border: 1em;
  padding: 2%;
  background: white;
  border-radius: 1em;
  border: none;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}

.sum{
  height: 30%;
}

.summary{
  height: 70%;
}

.donutchart{
  width: 100%;
}


@media only screen and (max-device-width: 992px){
  body {
      height: unset;
  }
  .wrapit {
      flex-direction: column;
  }
}


@media screen and (max-width: 600px) {
  body {
    height: unset;
  }
  .wrapit {
      flex-direction: column;
  }

  .column3 {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
    margin-right: 5px;
  }

}